
<div >
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">

			<div class="panel panel-primary" id="chat">

				<div class="panel-heading">
					<h3 class="panel-title">
						<div class="row">
							<div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">time</div>
							<div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">nick</div>
							<div class="col-xs-4 col-sm-6 col-md-8 col-lg-8 ">post</div>
						</div>
					</h3>
				</div>

				<div class="panel-body" id="chatAll" scroll-posts>
					<div class="row row-post" ng-repeat="post in posts.store" ng-class-even="'even'" ng-class-odd="'odd'">
							<div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">{{post.timestamp}}</div>
							<div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">{{post.nick}}</div>
							<div class="col-xs-4 col-sm-6 col-md-8 col-lg-8">{{post.post}}</div>
					</div>
<!--
					<div class="row" ng-repeat-end ng-class-even="'even'" ng-class-odd="'odd'">
							<div class="col-xs-4 col-sm-3 col-md-2 col-lg-2"> &nbsp;</div>
							<div class="col-xs-4 col-sm-3 col-md-2 col-lg-2"> &nbsp; </div>
							<div class="col-xs-4 col-sm-6 col-md-8 col-lg-8"> &nbsp; </div>
					</div>
-->

					<!--<div>&nbsp;</div>-->
				</div>

				<div class="panel-footer">
					<div class="row">

						<div class="col-xs-12 col-sm-8 col-md-8 col-lg-10">
							<input type="text" ng-model="newPost">
						</div>

						<div class=" col-xs-6 col-sm-2 col-md-2 col-lg-1">
							<button ng-click="btnSendClick()" ng-disabled="!newPost" class="btn btn-default btn-block"> wyślij</button>
						</div>

						<div class="col-xs-6 col-sm-2 col-md-2 col-lg-1">
							<button ng-click="exitBtnClick()" class="btn btn-default btn-block">wyloguj</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>